.component-content-navigation ul {
    padding: 0;
    list-style: none;
}

.component-content-navigation li {
    line-height: 1;
    margin-bottom: 1rem;
}

.component-content-navigation a {
    color: #3c3a39d0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.component-content-navigation a:hover,
.component-content-navigation a:focus {
    text-decoration: none;
    color: #3c3a39;
}

.component-content-navigation a.active {
    color: #3c3a39
}

.component-content-navigation a>svg {
    font-size: 21px;
    margin-right: 10px;
}